<html>
  <head>
    <title>{{ $.Title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style>
      body {
        background-color: #015999;
      }
      a {
        color: lightgrey;
        text-decoration: underline;
      }
      a:hover {
        color: white;
      }
      h1 {
        color: lightgrey;
      }
      p {
        color: lightgrey;
      }
      .tiny {
        font-size: x-small;
      }
      .cropper {
        position: relative;
        width: max-width;
        height: 120px;
        overflow: hidden;
      }
      .cropper img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
</style>
  </head>
  <body>
    <div class="container">
      <div class="row my-1">
        <div class="col">
          <div class="datelink">
            <a href="/?date={{ $.PrevDate }}">{{ $.PrevDate }}</a>
          </div>
        </div>
        <div class="col" align="center">
          <div class="datelink">{{ $.CurDate }}</div>
        </div>
        <div class="col">
          <div class="float-right"><a class="datelink" href="/?date={{ $.NextDate }}">{{ $.NextDate }}</a></div>
        </div>
      </div>
      {{ range $.L }}
        <div class="row my-3">
          <div class="col-sm-4">
            <div class="cropper">
              <img src="{{ .Article.ImageUrl }}">
            </div>
          </div>
          <div class="col-sm-8">
            <h5><a target="_blank" href="{{ .Article.WebLink }}">{{ .Article.Title }}</a></h5>
            <p class="tiny">
              rating: {{ printf "%.2f" .Rating }},
              best position: {{ .BestPosition}}
            </p>
            <div class="row">
              <div class="col-sm-12">
                <p>{{ .Article.Description }}</p>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </body>
</html>
